/* CSS for personal website */

/* -- Temporary Styles -------------- */

body {
    font-family: 'Raleway', Arial, sans-serif;
}


/* -- HTML reset test ----------- */

/* ----- Header Styles --------------- */

header {
    display:flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    background: #00a7e4;
    justify-content: space-between;
    
}

header img {
    display: block;
    width: 6.25rem;
    height: 6.25rem;
    margin: 1em auto 0.5em auto;
    background-color: #000;
}

header img:hover {
    transform: scale(1.5, 1.5);
    transition-duration: 0.5s;
}

.sm-menu {
    display: flex;
    order:99;
    position: absolute;
    top:20px;
    right: 12px;
}

.sm-menu a {
    font-size: 1.5rem;
    width:2.5rem;
    padding: 0.5rem;
    margin:0.2rem 0.5em;
}

.fa {
    background: #fff;
    color: #00a7e4;
    border-radius:50%;
    text-align: center;
    text-decoration: none;
}

/* ----- Menu Styles --------------- */

nav {
    display: flex;
    justify-content: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 45%;
    padding: 0;
}

.main-nav li {
    list-style-type: none;
    flex-grow: 1;
    flex-basis: 0;
    text-align:center;
    white-space: nowrap;
    font-size: 1.2rem;
}

.main-nav a {
    color:#fff;
    display: block;
    padding: 0.8rem 1rem;
    margin: 0;
}

li a:link {
    text-decoration: none;
}

li a:hover {
    background: #3546e6;
    color: #fff;
    transition-duration: 0.7s;
}

/* ----- Star Styles ---------------------- */

/* ----- Body Styles ---------------------- */

main {
    margin: 0 auto;
    display: grid;
}

main p,
main li {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    color:#2d2d55;
    margin:0.5rem 0;
}

main li {
    margin-left:2rem;
}

main a {
    padding: 0.2em;
}

main h4
{
    color:#2d2d55;
}

.heading {
    font-size: 2rem;
    color:#2d2d55;
    text-align: center;
    margin: 1rem auto;
}

.heading--header {
    color:#fff;
}

.heading--body {
    font-weight: 700;
}

.heading--article {
    font-size: 1.3rem;
}

section#interests,
section#work,
section#career {
    border-bottom: #BEF 4px solid;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.infocard--work {
    border-bottom: #BEF 2px solid;

}

/* ----- Media Queries ---------------------- */

@media (min-width: 588px) {
    .main-nav {
        flex-basis: 60%;
    }

}

@media (min-width: 760px) {
    .main-nav {
        flex-basis: 90%;
    }

    main {
        width: 58%;
    }

    section h1 {
        font-size: 1.9em;
    }

    .sm-menu {
        position: unset;
        margin: auto;
    }

    .sm-menu a {
        vertical-align: center;
        font-size: 16px;
        width:1rem;
        padding: 0.5rem;
    }
}

@media (min-width: 1024px) {}