/* Template for the grid layout */

@media (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 3rem;
        grid-template-areas: 
            "header header"
            "content content"
            "content content"
            "content content"
            "content content"
    }

    .container--work {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }

    .container--goals {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: content;
    }


}