/* CSS for personal website */

/* -- Temporary Styles -------------- */

body {
    font-family: 'Raleway', Arial, sans-serif;
}

/* ----- Header Styles --------------- */

header {
    display:flex;
    flex-direction: column;
    padding: 15px;
    margin: -15px;
    background: #00a7e4;
    justify-content: space-between;
    
}

header h1 {
    margin:1.5rem auto 0 auto;
    color: white;
    font-size: 2.5em;
}

header img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 1em auto 0.5em auto;
}

.sm-menu {
    display: flex;
    order:99;
    position: absolute;
    top:20px;
    right: 12px
}

.sm-menu a {
    vertical-align: center;
    font-size: 24px;
    width:24px;
    padding: 0.5rem;
    margin:auto 0.5em;

}

.fa-linkedin {
    background: white;
    color: #00a7e4;
    border-radius:50%;
    text-align: center;
    text-decoration: none;
}

/* ----- Menu Styles --------------- */

nav {
    display: flex;
    justify-content: center;
}

.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    padding: 0;
}

.main-nav li {
    list-style-type: none;
    flex-grow: 1;
    flex-basis: 0;
    text-align:center;
    white-space: nowrap;
    font-size: 1.2rem;
}

.main-nav a {
    color:white;
    display: block;
    padding: 0.8rem 1rem;
    margin: 0;
}

li a:link {
    text-decoration: none;
}

li a:hover {
    background: #3546e6;
}

/* ----- Body Styles ---------------------- */

main {
    width: 95%;
    padding: 1.5em 0;
    margin: 0 auto;
}

main p,
main li {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
    color:#2d2d55;
}

main h1,
main h2,
main h3,
main h4
 {
    color:#2d2d55;
}

section h1,
section h3 {
    text-align: center;
}

section h1 {
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom:0.2rem;
}

section h3 {
    font-size: 1.3em;
}

article {
    
}

/* ----- Media Queries ---------------------- */

@media (min-width: 588px) {
    .main-nav {
        flex-basis: 60%;
    }

    main {
        width: 85%;
    }
}

@media (min-width: 760px) {
    .main-nav {
        flex-basis: 90%;
    }

    main {
        width: 58%;
    }

    section h1 {
        font-size: 1.9em;
    }

    .sm-menu {
        position: unset;
        margin: auto;
    }

    .sm-menu a {
        vertical-align: center;
        font-size: 16px;
        width:16px;
        padding: 0.5rem;
    }
}

@media (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header :nth-child(1) { order: 2; }
    header :nth-child(2) { order: 1; }
    header :nth-child(3) { order: 3; }

    header h1 {
        margin: auto 1rem;
        vertical-align: middle;
    }

    header img {
        display:none;
    }

    header nav {
        margin-left: auto;
    }

    .main-nav {
        
        flex-wrap: nowrap;
    }
    
    main {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin:auto;
        max-width: 1200px;
    }

    section {
        flex-grow: 1;
        flex-basis: 45%;
    }

    section .container{
        order:1;
        display: flex;
        margin:auto;
        justify-content: space-between;
        flex-wrap:wrap;
    }

    section h1 {
        font-size: 2.1em;
    }

    section h3 {
        font-size: 1.4em;
    }
    section h4 {
        text-align:center;
        margin-top:0.3rem;
    }

    section#career article{
        flex-basis:27%;
        padding: 0 1rem 1rem 1rem;
        margin: 0.7rem;
        background: #BEF;
        border-radius: 3px;
    }

    section#work {
        order: 2;
        flex-basis: 100%;
        border-bottom: solid 2px #3546e6;
    }

    section#work article{
        order: 2;
        flex-basis: 100%;
        background: #BEF;
        margin: 1.5em auto;
    }

    .freelance,
    .former {
        flex: 1 0 100%;
        width: 40%;
        max-width: 800px;
        margin: auto;
        padding-left:1em;
    }

    .freelance ul,
    .former ul {
        list-style-type: circle;
        padding-left:3em;

    }

    section#languages {
        order: 3;
    }

    section#interests {
        order: 3;
    }
    
    section#interests h1,
    section#languages h1{
        margin-top: .8rem;
    }
}

@media (min-width: 1281px) {
    main {
        width:75%;
    }
}